<footer class="bg-dark text-white mt-5">
    <div class="container pt-3 ">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-responsive" src="assets/img/dsotm.jpg" style="height:100px">
            </div>
            <div class="col-sm-8">
                <ul class=" text-white">
                    <li style="margin-top: 15px;"><a>Avenida Argentina local 23, Valparaíso</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>