<div class="row g-3 align-items-center">
    <div class="col-auto">
        <label for="buscador_producto" class="col-form-label">Buscar producto por categoria</label>
    </div>
    <div class="col-auto">
        <input type="text" id="buscador_producto" class="form-control" placeholder="Acá estaran las categorias">
    </div>
    <div class="col-auto">

        <button type="button" class="btn btn-info">Buscar</button>
    </div>
</div>
<hr>


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#carritoModal">
    Ver carrito
</button>

<h2 class="my-5">Lista de productos disponibles</h2>
<div class="row  row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
    <div class="col" *ngFor="let producto of productoService.lista_productos ">
            <div class="card h-100 shadow">
                <img src="assets/img/{{producto.img}}" class="card-img-top rounded " alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">{{ producto.nombre }}</h5>
                    <p class="card-text">{{ producto.descripcion }}</p>

                    <p class="card-text">Cantidad disponible : {{ producto.cantidad }}</p>
                    <h4>Precio : ${{ producto.precio }}</h4>
                    <input type="hidden" value="{{producto.id}}" #id_producto>
                    <button type="button" class="btn btn-primary"
                        (click)="agregarProductoACarrito(id_producto.value);"> + Agregar al carrito</button>

                </div>
            </div>

    </div>



</div>





<div class="modal fade" id="carritoModal" tabindex="-1" aria-labelledby="carritoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="carritoModalLabel">Carrito de compras</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>Total a Pagar: $ {{Total_carrito}}</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id del producto</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of carrito; let i = index">
                            <td>{{producto.id}}</td>
                            <td>{{producto.nombre}}</td>
                            <td>{{producto.precio}}</td>
                            <td><button type="button" (click)="eliminarProductoDeCarrito(i, producto.id)" class="btn btn-danger btn-sm">Eliminar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Comprar :D</button>
            </div>
        </div>
    </div>
</div>