<div class="row g-3 align-items-center">
    <div class="col-auto">
        <label for="buscador_producto" class="col-form-label">Buscar producto</label>
    </div>
    <div class="col-auto">
        <input type="text" id="buscador_producto" class="form-control" >
    </div>
    <div class="col-auto">

        <button type="button" class="btn btn-info">Buscar</button>
    </div>
</div>

<div class="row">
    <h2 class="my-5">Lista de productos disponibles</h2>
    <div class="col-md-4">
        <div class="card">
            <img src="assets/img/dsotm.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Producto 1</h5>
                <p class="card-text">Muy buen producto</p>
                <button type="button" class="btn btn-primary">Comprar</button>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="assets/img/dsotm.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Producto 1</h5>
                <p class="card-text">Muy buen producto</p>
                <button type="button" class="btn btn-primary">Comprar</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="assets/img/dsotm.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Producto 1</h5>
                <p class="card-text">Muy buen producto</p>
                <button type="button" class="btn btn-primary">Comprar</button>
            </div>
        </div>
    </div>


</div>