<div class="row">
    <div class="form-control my-5" id="">
        <h3>Registrate</h3>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Usuario</span>
            <input type="text" class="form-control" id="usuario">
        </div>
        <h5 id="mensajeUsuario"></h5>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Contraseña</span>
            <input type="password" class="nota form-control" id="password">
        </div>
        <h5 id="mensajePassword"></h5>

        <br>
        <a href="" class="btn btn-primary" id="">Registrar</a>
    </div>
</div>